.container{
    display: inline-block;  
    position: relative;  
    left: 30%;
    top: 100px;
    height: 50px;
    justify-content: center;
    justify-items: center;
 
   
    

    
}

h2{
    margin: 2px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}


.colAcesso{
    background-color: #ebebf1;
    padding: 20px;
    border-radius: 15px;
    width: 310px; 
    margin-right: 20px;
    float: left;
     
}

.form1{
    
    position: relative;
    height: 270px;
    width: 290px;
    margin-right: 50px;
    top: 15px;
    background-color: #ebebf1;
    border-radius: 15px;
   
}

label{
    position: relative;
    font-size: 15px;
    right: 8px;
}

#input1{
    position: relative;
    left: 6px;
}
#input2{
    position: relative;
    left: 1px;
}
#input3{
    position: relative;
    left: 8px;
}
#input4{
    position: relative;
    left: 20px;
}

input{
    position: relative;
    display: inline-block;
        margin: 3px;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    right: 10px;

}

.btnadd{
    position: relative;
    top: 20px;
    left: 70px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(126, 177, 221);
  }

  .colConsulta{
    display: inline-block;
    float: left;
    background-color: #ebebf1;
    padding: 25px;
    border-radius: 15px;
    height: 345px;
   

}

.form2{
    position: relative;
    top: 20px;
    
}

#selectID{
    border-radius: 15px;

}

option{
    border-bottom: 15px;
    
    


}
#btnConsultar{
    position: relative;
    text-align: center;
    bottom: 15px;
    background-color: rgb(126, 177, 221);
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 13px;

}